<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.elon.cs.gamealarm" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditOrDeleteActivity"
            android:label="@string/title_activity_edit_or_delete"
            android:theme="@android:style/Theme.Material.Dialog" >
        </activity>
        <activity
            android:name=".AddAlarmActivity"
            android:label="@string/title_activity_add_alarm" >
        </activity>
        <activity
            android:name=".Minigame1Activity"
            android:label="@string/title_activity_minigame1"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>
        <activity
            android:name=".DootDootActivity"
            android:label="@string/title_activity_doot_doot"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MiniGame2.RollerBallActivity"
            android:label="@string/title_activity_minigame2"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".MiniGame3Activity"
            android:label="@string/title_activity_minigame3"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
    </application>

</manifest>
